
  <nav  class="navbar navbar-expand-lg navbar-light bg-light fixed-top" style="position: sticky;">
    <div class="container ">
  
      <a class="navbar-brand" href="<%= process.env.BASE_URL %>/">      <img src="/images/homel.jpg" height="45" width="70" alt=""></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Campaigns
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="<%= process.env.BASE_URL %>/israelcampaign">Help Israel</a></li>
            
            </ul>
          </li>
          
          <li class="nav-item">
            <a class="nav-link" href="<%= process.env.BASE_URL %>/newsposts"> News blog</a>
          </li>    
    
          <li class="nav-item d-flex align-items-center">
            <a href="<%= process.env.BASE_URL %>/donation"> <button type="button" style="border-radius:30px"class="btn  btn-outline-success btn-sm px-3 me-2 fw-semibold " >
              Donate
            </button></a>
          </li>      
        </ul>
   
      
      </div>
    </div>
  </nav>
