<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
<title>Donate</title>
<%- include('./partials/head'); %>
<style>
    .card {
      border:none;
      padding: 10px 50px;
    }
    .card::after {
      position: absolute;
      z-index: -1;
      opacity: 0;
      -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
      transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    }
    .card:hover {
      transform: scale(1.02, 1.02);
      -webkit-transform: scale(1.02, 1.02);
      backface-visibility: hidden; 
      will-change: transform;
      box-shadow: 0 1rem 3rem rgba(0,0,0,.75) !important;
    }
    .card:hover::after {
      opacity: 1;
    }
    .card:hover .btn-outline-primary{
      color:white;
      background:#007bff;
    }
    .input-group-prepend {
    margin-right: -75px; /* Adjust this value as needed */
    }
  </style>
</head>
<body class="container-fluid">

<header>
  <%- include('./partials/header'); %>
</header>
<main>
  <div class="jumbotron">
    <div class="container">
      <div class="row justify-content-center mt-5">
        <h3 class="text-center">Contact here for donation</h3>

        <div class="col-lg-6 col-sm-12 d-flex justify-content-center align-items-center">
          
          <img class="img-fluid rounded" src="/images/whatsapp.png" width="350px" alt="">
        </div>
      </div>

    </div>
  </div>
</main>


  


<footer>
  <%- include('./partials/footer'); %>
</footer>

</body>


</html>